/* define universal vars */
:root {
	--anim-time: 1s;
	--anim-delay: 0.2s;
}

html, body {
	height: 100%;
	width: 100%;
}
	a {
		color: white;
	}
	p {
		font-family: Courier New, monospace;
		color: white;
	}
	.alignleft {
		float: left;
		margin-left: 2%;
		text-align: left;
		width: 100%;
		height: auto;
	}
/* 	.alignright {
		float: right;
		margin-right: 4%;
		text-align: right;
		width: 55%;
	} */
	#social {
		padding: 2%;
		width: 100%;
		display: inline-block;
	}


/* Style all font-awesome & academ- icons */
	.fa, .ai {
		padding: 2%;
		width: 40px;
		text-decoration: none;
		background: rgba(0,0,0,0);
		color: white;
	}
	.fa-github {
		padding-left: 0;
	}
	
	/* Add a hover effect */
	.fa:hover, .ai:hover {
		opacity: 0.5;
	}

	/* svg lettering in logo */
	#layer_ceenell {
		stroke: white;
		stroke-width: 1px;
		fill: transparent;
	}

	/* svg line animation */
	
	#C {
		stroke-dasharray: 650px;
		stroke-dashoffset: 0px;
		animation: anim-650 var(--anim-time) linear calc(var(--anim-delay) * 1);
	}
	#E2 {
		stroke-dasharray: 755px;
		stroke-dashoffset: 0px;
		animation: anim-850 var(--anim-time) linear calc(var(--anim-delay) * 2); 
	}
	#E3 {
		stroke-dasharray: 755px;
		stroke-dashoffset: 0px;
		animation: anim-850 var(--anim-time) linear calc(var(--anim-delay) * 3); 
	}
	
	#N {
		stroke-dasharray: 850px;
		stroke-dashoffset: 0px;
		animation: anim-850 var(--anim-time) linear calc(var(--anim-delay) * 4); 
	}
	#E {
		stroke-dasharray: 755px;
		stroke-dashoffset: 0px;
		animation: anim-850 var(--anim-time) linear calc(var(--anim-delay) * 5); 
	}
	#L3 {
		stroke-dasharray: 450px;
		stroke-dashoffset: 0px;
		animation: anim-450 var(--anim-time) linear calc(var(--anim-delay) * 6); 
	}
	#L4 {
		stroke-dasharray: 450px;
		stroke-dashoffset: 0px;
		animation: anim-450 var(--anim-time) linear calc(var(--anim-delay) * 7); 
	}
	@keyframes anim-650 {
		from {stroke-dashoffset: -650px}
		to {stroke-dashoffset: 650px;}
	}
	@keyframes anim-450 {
		from {stroke-dashoffset: -450px}
		to {stroke-dashoffset: 450px;}
	}
	@keyframes anim-850 {
		from {stroke-dashoffset: -850px}
		to {stroke-dashoffset: 850px;}
	}
