html, body {
    margin: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 18pt;
}

body {
    box-sizing: border-box;
    font-size: 18px;
}

.content {
    width: 960px;
    margin: 0 auto;
    padding: 2em 0 1em;
}

h1 {
    font-size: 8em;
    margin: 2em auto 0;
}

a {
    color: rgb(172, 44, 172);
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #febd00 80%);
  }


#footer{
    background-color: whitesmoke;
}